// Color Variables

$primary-color: rgb(0,161,80); // dark cyan - lime green #00a150
$secondary-color: rgb(0,212,105); // strong cyan - lime green #00d469
$btn-color: rgb(82,167,202); // moderate blue #579cda
$link-color: 	rgb(60,189,227); // bright cyan #3cbde3
$active-link-color: rgb(17,94,117); // Dark cyan #1a94b8
$body-text-color: rgb(13,36,57); // "Very dark blue" #0D2439
$body-text-color-muted: rgb(110,124,136); // "Dark grayish blue" #6e7c88
$background-color: rgb(235,235,211); // eggshell/light grayish yellow #ebebd3
