// Color Variables

$background-color: #056ba0; // blue
$h1-color: #191D3A; // white
$header-color: #EBF2FA; // white
$link-color: #ECE613; // yellow
// $link-color-hover: #FFFF00; // brighter yellow
$body-text-color: #D3D9E0; // grey
