// Font Variables
$headline: "Oswald";
$headline-fallback: serif;
$body: "Lato";
$body-fallback: sans-serif;

$headline-font-size: 100px;
$headline-mobile-font-size: 45px;

@import url('https://fonts.googleapis.com/css?family=Oswald|Lato');
