// Font Variables
$headline: "Poppins";
$headline-fallback: sans-serif;
$body: "Raleway";
$body-fallback: sans-serif;

$headline-font-size: 100px;
$headline-mobile-font-size: 45px;

@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway:500');
